In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("marketing_campaign.csv")
data.head(50)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,...,20,1,0,0,0,0,0,3,11,0
10,1994,1983,Graduation,Married,NaN,1,0,15-11-2013,11,5,...,7,0,0,0,0,0,0,3,11,0
11,387,1976,Basic,Married,7500.0,0,0,13-11-2012,59,6,...,8,0,0,0,0,0,0,3,11,0
12,2125,1959,Graduation,Divorced,63033.0,0,0,15-11-2013,82,194,...,2,0,0,0,0,0,0,3,11,0
13,8180,1952,Master,Divorced,59354.0,1,1,15-11-2013,53,233,...,6,0,0,0,0,0,0,3,11,0
14,2569,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,3,...,8,0,0,0,0,0,0,3,11,0
15,2114,1946,PhD,Single,82800.0,0,0,24-11-2012,23,1006,...,3,0,0,1,1,0,0,3,11,1
16,9736,1980,Graduation,Married,41850.0,1,1,24-12-2012,51,53,...,8,0,0,0,0,0,0,3,11,0
17,4939,1946,Graduation,Together,37760.0,0,0,31-08-2012,20,84,...,7,0,0,0,0,0,0,3,11,0
18,6565,1949,Master,Married,76995.0,0,1,28-03-2013,91,1012,...,5,0,0,0,1,0,0,3,11,0
19,2278,1985,2n Cycle,Single,33812.0,1,0,03-11-2012,86,4,...,6,0,0,0,0,0,0,3,11,0
20,9360,1982,Graduation,Married,37040.0,0,0,08-08-2012,41,86,...,8,0,0,0,0,0,0,3,11,0
21,5376,1979,Graduation,Married,2447.0,1,0,06-01-2013,42,1,...,1,0,0,0,0,0,0,3,11,0
22,1993,1949,PhD,Married,58607.0,0,1,23-12-2012,63,867,...,8,0,1,0,0,0,0,3,11,0
23,4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,...,4,0,0,0,0,0,0,3,11,0
24,1409,1951,Graduation,Together,40689.0,0,1,18-03-2013,69,270,...,8,0,0,0,0,0,0,3,11,0
25,7892,1969,Graduation,Single,18589.0,0,0,02-01-2013,89,6,...,7,0,0,0,0,0,0,3,11,0
26,2404,1976,Graduation,Married,53359.0,1,1,27-05-2013,4,173,...,7,0,0,0,0,0,0,3,11,0
27,5255,1986,Graduation,Single,NaN,1,0,20-02-2013,19,5,...,1,0,0,0,0,0,0,3,11,0
28,9422,1989,Graduation,Married,38360.0,1,0,31-05-2013,26,36,...,3,0,0,0,0,0,0,3,11,0
29,1966,1965,PhD,Married,84618.0,0,0,22-11-2013,96,684,...,2,0,0,1,0,0,0,3,11,0
30,6864,1989,Master,Divorced,10979.0,0,0,22-05-2014,34,8,...,5,0,0,0,0,0,0,3,11,0
31,3033,1963,Master,Together,38620.0,0,0,11-05-2013,56,112,...,3,0,0,0,0,0,0,3,11,0
32,5710,1970,Graduation,Together,40548.0,0,1,10-10-2012,31,110,...,5,0,1,0,0,0,0,3,11,0
33,7373,1952,PhD,Divorced,46610.0,0,2,29-10-2012,8,96,...,6,0,0,0,0,0,0,3,11,1
34,8755,1946,Master,Married,68657.0,0,0,20-02-2013,4,482,...,7,0,0,0,0,0,0,3,11,0
35,10738,1951,Master,Single,49389.0,1,1,29-08-2013,55,40,...,7,0,0,0,0,0,0,3,11,0
36,4339,1970,PhD,Married,67353.0,0,1,31-12-2013,37,702,...,2,0,0,0,0,0,0,3,11,0
37,10755,1976,2n Cycle,Married,23718.0,1,0,02-09-2013,76,6,...,7,0,0,0,0,0,0,3,11,0
38,8595,1973,Graduation,Widow,42429.0,0,1,11-02-2014,99,55,...,5,0,0,0,0,0,0,3,11,0
39,2968,1943,PhD,Divorced,48948.0,0,0,01-02-2013,53,437,...,6,1,0,0,0,0,0,3,11,1
40,8601,1980,Graduation,Married,80011.0,0,1,29-04-2013,3,421,...,4,0,0,0,0,0,0,3,11,0
41,503,1985,Master,Married,20559.0,1,0,12-03-2013,88,13,...,8,0,0,0,0,0,0,3,11,0
42,8430,1957,Graduation,Together,21994.0,0,1,24-12-2012,4,9,...,5,0,0,0,0,0,0,3,11,0
43,7281,1959,PhD,Single,NaN,0,0,05-11-2013,80,81,...,2,0,0,0,0,0,0,3,11,0
44,2139,1975,Master,Married,7500.0,1,0,02-10-2013,19,3,...,5,0,0,0,0,0,0,3,11,0
45,1371,1976,Graduation,Single,79941.0,0,0,28-06-2014,72,123,...,1,0,0,0,0,0,0,3,11,0
46,9909,1996,2n Cycle,Married,7500.0,0,0,09-11-2012,24,3,...,9,0,0,0,0,0,0,3,11,1
47,7286,1968,Graduation,Together,41728.0,1,0,24-05-2013,92,13,...,10,0,0,0,0,0,0,3,11,0
48,7244,1951,Graduation,Single,NaN,2,1,01-01-2014,96,48,...,6,0,0,0,0,0,0,3,11,0
49,6566,1954,PhD,Married,72550.0,1,1,08-11-2012,39,826,...,8,0,0,0,0,0,0,3,11,0

In [ ]:
data['Purchases'] = data['NumDealsPurchases'] + data['NumWebPurchases'] + data['NumCatalogPurchases'] + data['NumStorePurchases']
data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Purchases
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,0,3,11,1,25
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,0,3,11,0,6
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,3,11,0,21
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,0,3,11,0,8
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,0,3,11,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,0,0,0,3,11,0,18
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,0,0,0,1,0,0,3,11,0,22
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,0,1,0,0,0,0,3,11,0,19
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,0,0,0,3,11,0,23
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,0,0,0,3,11,1,11

In [ ]:
data['Expenses'] = data['MntWines'] + data['MntFruits'] + data['MntMeatProducts'] + data['MntFishProducts'] + data['MntSweetProducts'] + data['MntGoldProds']
data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Purchases,Expenses
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,3,11,1,25,1617
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,3,11,0,6,27
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,3,11,0,21,776
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,3,11,0,8,53
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,3,11,0,19,422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,0,0,3,11,0,18,1341
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,0,0,1,0,0,3,11,0,22,444
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,1,0,0,0,0,3,11,0,19,1241
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,0,0,3,11,0,23,843
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,0,0,3,11,1,11,172

In [ ]:
data['Campaign'] = data['AcceptedCmp1'] + data['AcceptedCmp2'] + data['AcceptedCmp3'] + data['AcceptedCmp4'] + data['AcceptedCmp5']
data.head(50)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Purchases,Expenses,Campaign
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,3,11,1,25,1617,0
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,3,11,0,6,27,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,3,11,0,21,776,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,3,11,0,8,53,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,3,11,0,19,422,0
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,...,0,0,0,0,3,11,0,22,716,0
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,0,0,0,0,3,11,0,21,590,0
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,...,0,0,0,0,3,11,0,10,169,0
8,4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,...,0,0,0,0,3,11,1,6,46,0
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,...,0,0,0,0,3,11,0,2,49,1
10,1994,1983,Graduation,Married,NaN,1,0,15-11-2013,11,5,...,0,0,0,0,3,11,0,4,19,0
11,387,1976,Basic,Married,7500.0,0,0,13-11-2012,59,6,...,0,0,0,0,3,11,0,6,61,0
12,2125,1959,Graduation,Divorced,63033.0,0,0,15-11-2013,82,194,...,0,0,0,0,3,11,0,16,1102,0
13,8180,1952,Master,Divorced,59354.0,1,1,15-11-2013,53,233,...,0,0,0,0,3,11,0,15,310,0
14,2569,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,3,...,0,0,0,0,3,11,0,5,46,0
15,2114,1946,PhD,Single,82800.0,0,0,24-11-2012,23,1006,...,1,1,0,0,3,11,1,26,1315,2
16,9736,1980,Graduation,Married,41850.0,1,1,24-12-2012,51,53,...,0,0,0,0,3,11,0,9,96,0
17,4939,1946,Graduation,Together,37760.0,0,0,31-08-2012,20,84,...,0,0,0,0,3,11,0,13,317,0
18,6565,1949,Master,Married,76995.0,0,1,28-03-2013,91,1012,...,0,1,0,0,3,11,0,26,1782,1
19,2278,1985,2n Cycle,Single,33812.0,1,0,03-11-2012,86,4,...,0,0,0,0,3,11,0,8,133,0
20,9360,1982,Graduation,Married,37040.0,0,0,08-08-2012,41,86,...,0,0,0,0,3,11,0,12,316,0
21,5376,1979,Graduation,Married,2447.0,1,0,06-01-2013,42,1,...,0,0,0,0,3,11,0,43,1730,0
22,1993,1949,PhD,Married,58607.0,0,1,23-12-2012,63,867,...,0,0,0,0,3,11,0,17,972,1
23,4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,...,0,0,0,0,3,11,0,20,544,0
24,1409,1951,Graduation,Together,40689.0,0,1,18-03-2013,69,270,...,0,0,0,0,3,11,0,20,444,0
25,7892,1969,Graduation,Single,18589.0,0,0,02-01-2013,89,6,...,0,0,0,0,3,11,0,8,75,0
26,2404,1976,Graduation,Married,53359.0,1,1,27-05-2013,4,173,...,0,0,0,0,3,11,0,14,257,0
27,5255,1986,Graduation,Single,NaN,1,0,20-02-2013,19,5,...,0,0,0,0,3,11,0,27,637,0
28,9422,1989,Graduation,Married,38360.0,1,0,31-05-2013,26,36,...,0,0,0,0,3,11,0,9,131,0
29,1966,1965,PhD,Married,84618.0,0,0,22-11-2013,96,684,...,1,0,0,0,3,11,0,26,1672,1
30,6864,1989,Master,Divorced,10979.0,0,0,22-05-2014,34,8,...,0,0,0,0,3,11,0,8,30,0
31,3033,1963,Master,Together,38620.0,0,0,11-05-2013,56,112,...,0,0,0,0,3,11,0,11,318,0
32,5710,1970,Graduation,Together,40548.0,0,1,10-10-2012,31,110,...,0,0,0,0,3,11,0,9,120,1
33,7373,1952,PhD,Divorced,46610.0,0,2,29-10-2012,8,96,...,0,0,0,0,3,11,1,17,302,0
34,8755,1946,Master,Married,68657.0,0,0,20-02-2013,4,482,...,0,0,0,0,3,11,0,18,1196,0
35,10738,1951,Master,Single,49389.0,1,1,29-08-2013,55,40,...,0,0,0,0,3,11,0,6,65,0
36,4339,1970,PhD,Married,67353.0,0,1,31-12-2013,37,702,...,0,0,0,0,3,11,0,28,913,0
37,10755,1976,2n Cycle,Married,23718.0,1,0,02-09-2013,76,6,...,0,0,0,0,3,11,0,9,81,0
38,8595,1973,Graduation,Widow,42429.0,0,1,11-02-2014,99,55,...,0,0,0,0,3,11,0,7,67,0
39,2968,1943,PhD,Divorced,48948.0,0,0,01-02-2013,53,437,...,0,0,0,0,3,11,1,24,902,1
40,8601,1980,Graduation,Married,80011.0,0,1,29-04-2013,3,421,...,0,0,0,0,3,11,0,21,1395,0
41,503,1985,Master,Married,20559.0,1,0,12-03-2013,88,13,...,0,0,0,0,3,11,0,7,53,0
42,8430,1957,Graduation,Together,21994.0,0,1,24-12-2012,4,9,...,0,0,0,0,3,11,0,4,22,0
43,7281,1959,PhD,Single,NaN,0,0,05-11-2013,80,81,...,0,0,0,0,3,11,0,9,186,0
44,2139,1975,Master,Married,7500.0,1,0,02-10-2013,19,3,...,0,0,0,0,3,11,0,8,31,0
45,1371,1976,Graduation,Single,79941.0,0,0,28-06-2014,72,123,...,0,0,0,0,3,11,0,16,984,0
46,9909,1996,2n Cycle,Married,7500.0,0,0,09-11-2012,24,3,...,0,0,0,0,3,11,1,10,122,0
47,7286,1968,Graduation,Together,41728.0,1,0,24-05-2013,92,13,...,0,0,0,0,3,11,0,5,55,0
48,7244,1951,Graduation,Single,NaN,2,1,01-01-2014,96,48,...,0,0,0,0,3,11,0,10,124,0
49,6566,1954,PhD,Married,72550.0,1,1,08-11-2012,39,826,...,0,0,0,0,3,11,0,28,1319,0

In [ ]:
data=data.drop("MntWines", axis=1)
data=data.drop("MntFruits", axis=1)
data=data.drop("MntMeatProducts", axis=1)
data=data.drop("MntFishProducts", axis=1)
data=data.drop("MntSweetProducts", axis=1)
data=data.drop("MntGoldProds", axis=1)
data=data.drop("AcceptedCmp1", axis=1)
data=data.drop("AcceptedCmp2", axis=1)
data=data.drop("AcceptedCmp3", axis=1)
data=data.drop("AcceptedCmp4", axis=1)
data=data.drop("AcceptedCmp5", axis=1)

In [ ]:
data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumDealsPurchases,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Complain,Z_CostContact,Z_Revenue,Response,Purchases,Expenses,Campaign
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,3,...,10,4,7,0,3,11,1,25,1617,0
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,...,1,2,5,0,3,11,0,6,27,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,1,...,2,10,4,0,3,11,0,21,776,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,2,...,0,4,6,0,3,11,0,8,53,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,5,...,3,6,5,0,3,11,0,19,422,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,2,...,3,4,5,0,3,11,0,18,1341,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,7,...,2,5,7,0,3,11,0,22,444,1
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,1,...,3,13,6,0,3,11,0,19,1241,1
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,2,...,5,10,3,0,3,11,0,23,843,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,3,...,1,4,7,0,3,11,1,11,172,0

In [ ]:
data=data.drop("ID", axis=1)
data=data.drop("NumWebVisitsMonth", axis=1)
data=data.drop("NumDealsPurchases", axis=1)
data=data.drop("NumWebPurchases", axis=1)
data=data.drop("NumCatalogPurchases", axis=1)
data=data.drop("Z_CostContact", axis=1)
data=data.drop("Z_Revenue", axis=1)
data=data.drop("NumStorePurchases", axis=1)
data=data.drop("Dt_Customer", axis=1)

In [ ]:
data['Income'] = data['Income'].replace(np.NaN, data['Income'].mean())
data=data.assign(Incomes=pd.cut(data['Income'], 
                               bins=[ 0, 25000, 50000,100000,666666], 
                               labels=['Below 25000', 'Income 25000-50000 ', 'Income 50000-100000 ','Above 100000']))
data=data.drop("Income", axis=1)

In [ ]:
data['Expenses'] = data['Expenses'].replace(np.NaN, data['Expenses'].mean())
data=data.assign(Expense=pd.cut(data['Expenses'], 
                               bins=[ 0, 500, 1000, 2525], 
                               labels=['Below 500', 'Expense 500-1000 ','Above 1000']))
data=data.drop("Expenses", axis=1)

In [ ]:
data['Year_Birth'] = data['Year_Birth'].replace(np.NaN, data['Year_Birth'].mean())
data[['Year_Birth']]=data['Year_Birth']
data=data.assign(DOB=pd.cut(data['Year_Birth'], 
                               bins=[ 0, 1959, 1977, 1996], 
                               labels=['Below 1959', 'DOB 1959-1977', 'DOB 1977-1996']))
data=data.drop("Year_Birth", axis=1)

In [ ]:
data['Marital_Status'] = data['Marital_Status'].replace(['Married', 'Together'], 'relationship')
data['Marital_Status'] = data['Marital_Status'].replace(['Single', 'Divorced', 'Widow', 'Alone', 'Absurd', 'YOLO'], 'single')

data['Education'] = data['Education'].replace(['2n Cycle', 'Basic'], 'Basic')
data['Education'] = data['Education'].replace(['Graduation', 'Master'], 'Graduated')
data['Education'] = data['Education'].replace(['PhD'], 'PHD')

In [ ]:
data.head(5)

,Education,Marital_Status,Kidhome,Teenhome,Recency,Complain,Response,Purchases,Campaign,Incomes,Expense,DOB
0,Graduated,single,0,0,58,0,1,25,0,Income 50000-100000,Above 1000,Below 1959
1,Graduated,single,1,1,38,0,0,6,0,Income 25000-50000,Below 500,Below 1959
2,Graduated,relationship,0,0,26,0,0,21,0,Income 50000-100000,Expense 500-1000,DOB 1959-1977
3,Graduated,relationship,1,0,26,0,0,8,0,Income 25000-50000,Below 500,DOB 1977-1996
4,PHD,relationship,1,0,94,0,0,19,0,Income 50000-100000,Below 500,DOB 1977-1996

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [ ]:
data['Education']= label_encoder.fit_transform(data['Education'])
data['Marital_Status']= label_encoder.fit_transform(data['Marital_Status'])
data['Incomes']= label_encoder.fit_transform(data['Incomes'])
data['DOB']= label_encoder.fit_transform(data['DOB'])
data['Expense']= label_encoder.fit_transform(data['Expense'])

In [ ]:
data.head(5)

,Education,Marital_Status,Kidhome,Teenhome,Recency,Complain,Response,Purchases,Campaign,Incomes,Expense,DOB
0,1,1,0,0,58,0,1,25,0,3,0,0
1,1,1,1,1,38,0,0,6,0,2,1,0
2,1,0,0,0,26,0,0,21,0,3,2,1
3,1,0,1,0,26,0,0,8,0,2,1,2
4,2,0,1,0,94,0,0,19,0,3,1,2

In [ ]:
from sklearn.preprocessing import normalize
data_scaled = normalize(data)
data_scaled = pd.DataFrame(data_scaled, columns=data.columns)
data_scaled.head()

,Education,Marital_Status,Kidhome,Teenhome,Recency,Complain,Response,Purchases,Campaign,Incomes,Expense,DOB
0,0.015809,0.015809,0.000000,0.000000,0.916946,0.0,0.015809,0.395235,0.0,0.047428,0.000000,0.000000
1,0.025915,0.025915,0.025915,0.025915,0.984773,0.0,0.000000,0.155491,0.0,0.051830,0.025915,0.000000
2,0.029722,0.000000,0.000000,0.000000,0.772770,0.0,0.000000,0.624160,0.0,0.089166,0.059444,0.029722
3,0.036491,0.000000,0.036491,0.000000,0.948753,0.0,0.000000,0.291924,0.0,0.072981,0.036491,0.072981
4,0.020833,0.000000,0.010417,0.000000,0.979167,0.0,0.000000,0.197917,0.0,0.031250,0.010417,0.020833

In [ ]:
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering

In [ ]:
hc=AgglomerativeClustering(n_clusters=4,affinity='euclidean',linkage="ward")

In [ ]:
y_hc=hc.fit_predict(data_scaled)
clusters=pd.DataFrame(y_hc,columns=['Clusters'])

In [ ]:
data['Cluster_id']=hc.labels_

In [ ]:
data.groupby("Cluster_id").agg(['mean']).reset_index()

,Cluster_id,Education,Marital_Status,Kidhome,Teenhome,Recency,Complain,Response,Purchases,Campaign,Incomes,Expense,DOB
,,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
0,0,1.093883,0.353485,0.521337,0.490754,65.316501,0.009957,0.088905,12.726885,0.249644,2.283073,0.931721,1.002134
1,1,1.134783,0.386957,0.347826,0.508696,11.578261,0.004348,0.334783,18.095652,0.400000,2.582609,0.856522,0.991304
2,2,1.096907,0.354639,0.323711,0.531959,31.317526,0.012371,0.195876,18.400000,0.371134,2.589691,0.884536,1.002062
3,3,1.159664,0.319328,0.210084,0.579832,2.672269,0.000000,0.310924,19.420168,0.369748,2.680672,0.789916,0.848739

In [ ]:
data

,Education,Marital_Status,Kidhome,Teenhome,Recency,Complain,Response,Purchases,Campaign,Incomes,Expense,DOB,Cluster_id
0,1,1,0,0,58,0,1,25,0,3,0,0,2
1,1,1,1,1,38,0,0,6,0,2,1,0,0
2,1,0,0,0,26,0,0,21,0,3,2,1,2
3,1,0,1,0,26,0,0,8,0,2,1,2,0
4,2,0,1,0,94,0,0,19,0,3,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,1,0,0,1,46,0,0,18,0,3,0,1,0
2236,2,0,2,1,56,0,0,22,1,3,1,0,0
2237,1,1,0,0,91,0,0,19,1,3,0,2,0
2238,1,0,0,1,8,0,0,23,0,3,2,0,1
2239,2,0,1,1,40,0,1,11,0,3,1,0,0

In [ ]:
X = data.drop("Cluster_id", axis=1)
y = data.Cluster_id
X.shape, y.shape

((2240, 12), (2240,))

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(max_depth=4, random_state = 10) 
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=4, random_state=10)

In [ ]:
from sklearn.metrics import accuracy_score
pred_cv = model.predict(x_cv)
accuracy_score(y_cv,pred_cv)

0.7611607142857143

In [ ]:
pred_train = model.predict(x_train)
accuracy_score(y_train,pred_train)

0.79296875

In [ ]:
# saving the model 
import pickle 
pickle_out = open("classifier.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()

In [ ]:
%%writefile mod.py
 
import pickle
import streamlit as st
 
# loading the trained model
pickle_in = open('classifier.pkl', 'rb') 
classifier = pickle.load(pickle_in)
 
@st.cache()

# defining the function which will make the prediction using the data which the user inputs 
def prediction(Education, Marital_Status, DOB,Incomes,Kidhome,Teenhome,Purchases,Expense,Recency,Campaign,Complain, Response):   
 
    # Pre-processing user input    
    
    if Education == "Basic":
        Education = 0
        
    elif Education == "Graduated":
        Education = 1
        
    elif Education == "PHD":
        Education = 2
#*****************************************#      
    if Marital_Status == "Single":
        Marital_Status = 0
    
    elif Marital_Status == "Relationship":
        Marital_Status = 1
#*****************************************#        
    if Incomes == "Below 25000":
        Incomes = 1
    
    elif Incomes == "Income 25000-50000":
        Incomes = 2
        
    elif Incomes == "Income 50000-100000":
        Incomes = 3
        
    elif Incomes == "Above 100000":
        Incomes = 0
        

#*****************************************# 

    if Campaign == "Accepted 0 Campaign":
        Campaign = 0
    
    elif Campaign == "Accepted 1 Campaign":
        Campaign = 1
        
    elif Campaign == "Accepted 2 Campaign":
        Campaign = 2
        
    elif Campaign == "Accepted 3 Campaign":
        Campaign = 3  
        
    elif Campaign == "Accepted 4 Campaign":
        Campaign = 4
        


#*****************************************#    
    if Response == "YES":
        Response = 1
    
    elif Response == "NO":
        Response = 0

#*****************************************#      
    if Complain == "YES":
        Complain = 1
    
    elif Complain == "NO":
        Complain = 0
  #*****************************************#     

  #*****************************************# 
        
        
    prediction = classifier.predict( 
        [[Education, Marital_Status,DOB, Incomes, Kidhome,Teenhome,Purchases,Expense,Recency,Campaign,Complain, Response]])
            
    if prediction == 0:
        pred = 'cluster 0'
   
    elif prediction == 1:
        pred = 'cluster 1'
    
    elif prediction == 2:
        pred = 'cluster 2'
    return pred
   
      
  
# this is the main function in which we define our webpage  
def main():       
    # front end elements of the web page 
    html_temp = """ 
    <div style ="background-color:Orange;padding:13px"> 
    <h1 style ="color:black;text-align:center;">Model Deployment</h1> 
    </div> 
    """
      
    # display the front end aspect
    st.markdown(html_temp, unsafe_allow_html = True) 
    
    # following lines create boxes in which user can enter data required to make prediction 
    
    Education = st.selectbox("Education",("Basic","Graduated","PHD"))
    
    Marital_Status = st.radio("Marital_Status: ", ('Single', 'Relationship'))
    if (Marital_Status == 'Single'):
        st.success("Single")
    elif (Marital_Status == 'Relationship'):
        st.success("Relationship")
    
    DOB = st.slider("Select DOB", 1930, 2021)
    st.text('Selected: {}'.format(DOB)) 
    
    Incomes = st.selectbox("Incomes",("Below 25000", "Income 25000-50000", "Income 50000-100000","Above 100000")) 
   
    Kidhome = st.text_input("Kidhome")
    
    Teenhome = st.text_input("Teenhome") 
    
    Purchases= st.slider("NUmber of Purchase Made", 0, 50)
    st.text('Selected: {}'.format(Purchases)) 
    
    Expense = st.slider("Select Monthly Expense", 0, 3000)
    st.text('Selected: {}'.format(Expense)) 
    
    Recency= st.slider("last Purchase", 0, 100)
    st.text('Selected: {}'.format(Recency)) 

    Campaign =st.selectbox("Campaign",("Accepted 0 Campaign","Accepted 1 Campaign","Accepted 2 Campaign","Accepted 3 Campaign","Accepted 4 Campaign"))
    
    Complain = st.selectbox("Complain",("YES","NO"))
    
    Response = st.selectbox("Accepted the offer in the last campaign",("YES","NO"))
    
    result =""
          
    # when 'Predict' is clicked, make the prediction and store it 
    if st.button("Predict"): 
        result = prediction(Education, Marital_Status,DOB, Incomes, Kidhome,Teenhome,Purchases,Expense,Recency, Campaign,Complain, Response) 
        st.success('Common cluster is {}'.format(result))
   
     
if __name__=='__main__': 
    main()

Overwriting mod.py